button {
  background-color: $primary;
  border: 2px solid $primary;
  border-radius: 0.25rem;
  color: $white;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  
  &:hover {
    background-color: $white;
    color: $primary;
    cursor: pointer;
  }

  .hide-show-icon {
    margin-right: 0.5rem;
  }
}