// Colors
$white: #FFFFFF;
$dark: rgb(40,38,43);
$light-grey: rgb(199,202,209);
$outer: #495057ff;
$eerie: #212529ff;

// Gen Con Colors
$dragons-breath-red: rgb(206, 14, 45);
$brick-red: rgb(234,71,50);
$egg: rgb(255,165,44);
$treasure-gold: rgb(245, 179, 53);
$lively-lemon: rgb(233,254,96);
$green-sheen: rgb(100,169,161);
$ocean-blue: rgb(0, 74, 152);
$cyan-blue: rgb(72,160,248);
$wisteria: rgb(123,114,168);
$pink-sherbet: rgb(239,139,159);
$light-taupe: rgb(179,136,105);

// General
$main-font: $dark;
$nav-bg: $green-sheen;