$jet-100: rgb(45, 42, 38);
$jet-50: rbga(45, 42, 38, .5);
$jet-30: rbga(45, 42, 38, .3);
$jet-10: rbga(45, 42, 38, .1);
$madder-100: rbga(164, 11, 36, 1);
$madder-50: rbga(164, 11, 36, .5);
$madder-30: rbga(164, 11, 36, .3);
$madder-10: rbga(164, 11, 36, .1);
$yale-blue-100: rgba(0, 59, 121, 1);
$yale-blue-50: rgba(0, 59, 121, .5);
$yale-blue-30: rgba(0, 59, 121, .3);
$yale-blue-10: rgba(0, 59, 121, .1);
$space-cadet-100: rgba(56, 49, 83, 1);
$space-cadet-50: rgba(56, 49, 83, .5);
$space-cadet-30: rgba(56, 49, 83, .3);
$space-cadet-10: rgba(56, 49, 83, .1);
$white: rgba(255, 255, 255, 1);