body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: 2px solid black;
  border-radius: 8px 8px;
  font-size: 20px;
  margin: 5px 8px;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  color: silver;
  font-style: italic;
  min-width: 150px;
  padding: 0 8px;
}

li:nth-child(even) {
  background-color: lightyellow;
}

h3 {
  color: darkblue;
  font-style: normal;
  text-align: center;
}

h4 {
  margin-top: 0;
  margin-bottom: 8px;
}

#choices-list {
  margin-bottom: 21px;
}

#schedules-container {
  display: flex;
  flex-direction: row;
}

.button-container {
  padding: 8px 0 16px 0;
}

.date-btn {
  background-color: rgb(206, 14, 45, .1);
  border: 2px solid rgb(206, 14, 45);
}

.hidden-date {
  background-color: rgb(206, 14, 45);
  border: 2px solid rgb(206, 14, 45);
  color: white;
}

.req-btn {
  background-color: rgb(102, 51, 153, .1);
  border: 2px solid rgb(102, 51, 153);
}

.hidden-req {
  background-color: rgb(102, 51, 153);
  border: 2px solid rgb(102, 51, 153);
  color: white;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.event-container {
  color: rgb(100, 100, 100);
  font-style: normal;
  margin: 8px 0;
  padding: 8px;
}

.event-container:hover {
  background-color: rgb(100, 100, 100, 0.3);
  cursor: pointer;
}

.time-list {
  color:rgb(100, 100, 100);
  font-style: normal;
  text-align: center;
}

.time-title {
  color: rgb(0, 0, 69);
  font-style: normal;
  font-weight: 700;
  width: 100%;
}