.toggle-btn-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.filter-container {
  margin-top: 15px;
  text-align: center;
}

.filter-label {
  font-weight: 550;
  margin-bottom: 5px;
}

.switches-container {
  text-align: center;
  min-width: 285px;
}