.toggle-btn-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.filter-label {
  font-weight: 550;
  margin-bottom: 5px;
}