.fave-card {
  font-size: 14px;
  line-height: 14px;

  .fave-content {
    padding: 12px 5px 0 5px !important;
  }
}

.fave-date-container {
  padding-bottom: 5px;
}

.fave-card:nth-child(odd) {
  background-color: $card-odd-bg;
}

.fave-card:nth-child(even) {
  background-color: $card-even-bg;
}

.fave-card+.fave-card {
  margin-top: 12px;
}

.fave-title {
  font-weight: 700;
  padding: 4px 0;
}

.fave-id {
  color: $fave-id-color;
}

.fave-label {
  display: flex;
  flex-direction: row;
  line-height: 24px;
}

.modal-button {
  text-transform: capitalize;
}