#navigation-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 15px;
}

#nav-link-container {
  display: flex;
  justify-content: flex-end;

  a, a:visited {
    color: $nav-link-color;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: flex-end;
    margin-left: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    background-color: $nav-link-bg-color;
  }

  .active {
    border-bottom: 2px solid $nav-link-color;
  }
}

#site-logo-container {
  padding: 5px;
}