.schedule-page-title {
  margin-left: 25px;
}

.schedule-container {
  padding: 10px 25px;
}

.schedule-list-time {
  .time-title {
    background-color: $time-label-bg;
    color: $time-label-color;
    font-weight: 700;
    padding: 2px 5px;
  }

  .fave-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .fave-list-item {
    color: $fave-item-color;
    margin: 10px;
    width: 100%;

    .badge-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 510px;
    }

    .conflicts-btn {
      border-radius: 5px 5px !important;
      color: $conflict-btn-color;
      font-size: 14px;
      float: right;
    }

    .conflicts-list {
      display: flex;
      flex-direction: column;
    }

    .conflicts-text {
      font-size: 14px;
      color: $french;
      text-align: right;
    }

    .fave-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .fave-game-id {
      font-size: 16px;
    }

    .fave-card-title {
      font-weight: 700;
      font-size: 17px;
    }

    .fave-details {
      color: $details-color;
      display: flex;
      flex-wrap: wrap;
      font-size: 15px;
      justify-content: space-between;
    }

    .fave-system {
      color: $details-color;
      font-size: 15px;
    }

    .badges-and-details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;
      padding: 15px 5px 0 5px;
    }

    .fave-badge {
      border-radius: 5px 5px;
      display: flex;
      font-size: 14px;
      margin: auto 5px;
      padding: 5px 10px 5px 7px;
    }

    .badge-icon {
      margin-right: 5px;
    }

    .sold-out-badge {
      background-color: $sold-out-badge-bg;
      color: $light-color;
    }

    .diff-day-badge {
      background-color: $diff-day-badge-bg;
      color: $light-color;
    }

    .materials-badge {
      background-color: $materials-badge-bg;
    }

    .tournament-badge {
      background-color: $tournament-badge-bg;
      color: $light-color;
    }
  }
}

.action-buttons {
  display: flex;

  .button-container {
    margin: 0 5px;

    button {
      text-transform: capitalize;
    }
  }
}