.event-data-table {
  width: 100%;

  tr:nth-child(even) {
    background-color: $row-alt-color;
  }

  .icon-button {
    border: 0 !important;
  }

  .sold-out {
    background-color: $sold-out-row-bg !important;
    color: $sold-out-row-text;
  }
}

.title-column {
  text-align: left;
}

.center-items {
  text-align: center;
}

.zoom-column {
  width: 2rem;
}

.tickets-column {
  width: 4.5rem;
}

.duration-column {
  width: 4rem;
}

.cost-column {
  width: 2rem;
}