.event-data-table {
  width: 100%;

  th {
    background-color: $theader-bg-color;
    color: $theader-font;
    font-weight: 400 !important;
    padding: 2px;
  }

  tr:nth-child(even) {
    background-color: $row-alt-color;
  }

  .icon-button {
    border: 0 !important;
  }

  .sold-out {
    background-color: $sold-out-row-bg !important;
    color: $sold-out-row-text;
  }
}

.event-details-table {
  tr:nth-child(odd) {
    background-color: $event-details-row;
  }

  td {
    padding: 3px;
  }
}

.title-column {
  text-align: left;
}

.center-items {
  text-align: center;
}

.icon-column {
  width: 2rem;
}

.tickets-column {
  width: 4.5rem;
}

.duration-column {
  width: 4rem;
}

.cost-column {
  width: 2rem;
}


@media only screen and (max-width: $md) {
  .extra-column {
    display: none;
  }
}