body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

main {
  margin: 18px;
}

nav {
  background-color: rgb(255, 221, 141);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
  min-height: 64px;
  padding: 8px 12px;
  width: dvw;
}

ul {
  list-style: none;
  margin: 0 25px 0 0;
  padding: 0
}

#nav-links {
  display: flex;
  flex-direction: row;
}

.nav-link, .nav-link:visited {
  margin-left: 8px;
  text-decoration: none;
}

.btn-container {
  padding: 8px 0 16px 0;
}

.btn {
  background-color: rgb(17, 145, 0, .08);
  border: 2px solid rgb(17, 145, 0);
  border-radius: 8px 8px;
  margin: 5px 8px;
  padding-left: 15px;
}

.btn:hover {
  cursor: pointer;
}

.hidden {
  background-color: rgb(206, 14, 45);
  border: 2px solid rgb(206, 14, 45);
  color: white;
}

.hidden:before {
  position: relative;
  left: -8px;
  content: "✖";
}

.visible:before {
  position: relative;
  left: -8px;
  content: "✔";
  color:rgb(17, 145, 0);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.MuiAutocomplete-root {
  margin-bottom: 12px;
}

.time-title {
  background-color: rgb(152, 150, 215, .2);
  color: rgb(4, 0, 123);
  font-weight: 700;
  padding: 5px 25px;
}

.event-list {
  margin: 12px 0;
}