body {
  color: rgb(98, 98, 98);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 21px;
  margin: 0 auto;
}

a, a:visited {
  color: rgb(43, 179, 129);
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid rgb(43, 179, 129);
  text-decoration: none;
}

main {
  margin: 18px;
}

nav {
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
  min-height: 64px;
  width: dvw;
}

ul {
  list-style: none;
  padding: 0
}

h1, h3 {
  color: rgb(90, 90, 90);
}

h2 {
  display: flex;
  justify-content: center;
}

#logo-container {
  margin: 8px 16px;
}

#logo-container:hover {
  border-bottom: 0;
}

#nav-links {
  display: flex;
  flex-direction: row;
}

.link-container {
  margin: auto;
  padding: 15px;
}

.nav-link, .nav-link:visited {
  color: rgb(245, 124, 0);
  font-weight: 700;
  padding: 15px;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 0;
}

.active {
  background-color: rgb(255, 221, 141);
}

.btn-container {
  padding: 8px 0 16px 0;
}

.btn {
  background-color: rgb(17, 145, 0, .08);
  border: 2px solid rgb(17, 145, 0);
  border-radius: 8px 8px;
  margin: 5px 8px;
  padding-left: 15px;
}

.btn:hover {
  cursor: pointer;
}

.hidden {
  background-color: rgb(206, 14, 45);
  border: 2px solid rgb(206, 14, 45);
  color: white;
}

.hidden:before {
  position: relative;
  left: -8px;
  content: "✖";
}

.visible:before {
  position: relative;
  left: -8px;
  content: "✔";
  color:rgb(17, 145, 0);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.MuiAutocomplete-root {
  margin-bottom: 12px;
}

.MuiFormControlLabel-root {
  display: flex;
  flex-direction: row-reverse;
}

.time-title {
  background-color: rgb(43, 179, 129, .1);
  color: rgb(43, 179, 129);
  font-weight: 700;
  padding: 5px 25px;
}

.event-list {
  margin: 12px 0;
}

.time-divider {
  margin: auto 25px;
  vertical-align: center;
}

.margin-auto {
  margin: auto 0;
}

.cost-column {
  text-align: right;
  margin-left: 10px;
  width: 35px;
}

.duration-column {
  text-align: center;
  width: 150px;
}

.event-details {
  display: flex;
  flex-direction: row;
}

.event-listing {
  border-bottom: 1px solid rgb(222, 222, 222);
  border-top: 1px solid rgb(222, 222, 222);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 14px 2px 4px;
}

.event-listing:nth-child(even) {
  background-color: rgb(255, 221, 141, .2);
}

.event-listing+.event-listing {
  border-top: 0;
}

.listing-header {
  border-top: 1px solid rgb(222, 222, 222);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 14px 2px 4px;
  font-weight: 700;
}

.tickets-column {
  text-align: left;
  width: 55px;
}

.sold-out {
  background-color: rgb(215, 215, 215) !important;
}

.switch-container {
  margin: 15px 0 20px 0;
}