h2 {
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.search-params-cont {
  min-width: 150px;
  padding-right: 20px;
}

#date-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 95vw;

  .date-column {
    border: 1px solid black;
    min-width: 300px;
    text-align: center;
    padding: 5px 15px;

    h2 {
      margin: 0 auto;
    }
  }
}

.location-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.location-column {
  margin: 5px 15px;
}